<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7/web3.min.js"></script>
  <script src="javascript/groups.js"></script>
  <title>Groups</title>

<body>
  <form onsubmit="createElection(); return false;">
    <div>
      <select id="dropdownOptions" onchange=""> </select>
    </div>
    <div>
      <!-- temporary hardcoding -->
      <input type="hidden" id="group-ID" name="groupID" value='0'>
    </div>
    <div id="poll-form">
      <label>
        <input type="text" id="poll-title" name="title" placeholder="Poll Title" />
      </label>
      <div>
        <label>
          <input type="text" id="option-name1" name="option" placeholder="option 1" />
        </label>
      </div>
      <div>
        <label>
          <input type="text" id="option-name2" name="option" placeholder="option 2" />
        </label>
      </div>
      <div id="additional-option-fields">

      </div>
      <button type="button" onClick="addOption()">Add Option</button>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>


  <form onsubmit="addMember(); return false;">
    <div>
      Add Member: Add a member through their address
    </div>

    <div>
      <label>
        <input type="text" id="add-member-address" name="member-address" placeholder="member address" />
      </label>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>

  <form onsubmit="removeMember(); return false;">
    <div>
      Remove Member: Remove a member through their address
    </div>

    <div>
      <label>
        <input type="text" id="remove-member-address" name="member-address" placeholder="member address" />
      </label>
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>


</body>

</html>